#header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 165px;
  padding-top: 29px;
  padding-bottom: 29px;
  text-align: right;
  opacity: 0;
  //@include css3-prefix('transition', 'all .5s ease-in opacity 0s');
  &.show,
  .no-js &,
  html:not(.js) & {
    opacity: 1;
  }
  .container {
    position: relative;
    max-width: 1812px;
  }
  .admin-bar & {
    top: 32px;
  }
  .scrolling & {
    min-height: 137px;
    padding: 15px 0;
    background-color: $white;
    @include box-shadow(0  5px 10px 0, rgba($black, .2));
  }
}

.logo {
  overflow: hidden;
  float: left;
  max-width: 307px;
  @include transition($transition-other);
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.mobile-menu-wrap,
.mobile-menu-toggle {
  display: none;
}
.mobile-menu-wrap {
  position: fixed;
  z-index: 99999;
  right: 0;
  height: 0;
  width: 0;
  top: 75px;
  @include css3-prefix('transition-delay',$transition-other);
  .admin-bar & {
    top: 108px;
  }
  &.showing {
    height: 100%;
    width: 100%;
    @include css3-prefix('transition-delay','0s');
  }
}
.mobile-menu-overlay {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  opacity: 0;
  @include transition(opacity $transition-other);
  .showing & {
    opacity: 1;
  }
}
.mobile-menu-box {
  position: absolute;
  width: 100%;
  height: 100%;
  right: -100%;
  z-index: 2;
  padding-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  @include transition(right $transition-other);
  overflow: auto;
  @include box-shadow(-10px 10px 30px, rgba($black, .2));
  .showing & {
    right: 0;
  }
}

.mobile-menu-toggle {
  position: absolute;
  right: 0;
  top: -21px;
  height: 75px;
  width: 75px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 26px;
  span:before,
  span:after,
  span {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    height: 1px;
    width: 30px;
    @include transition(all $transition-other);
  }
  span {
    z-index: 999999;
    left: 50%;
    top: 50%;
    @include translate();
  }
  span:before {
    top: -9px;
  }
  span:after {
    bottom: -9px;
  }
  &.active span {
    background-color: transparent;
  }
  &.active span:before {
    @include rotate(45deg);
    top: 0;
  }
  &.active span:after {
    @include rotate(-45deg);
    bottom: 0;
  }
}
