/*fonts*/
$font-main: 'CircularStd', Arial, sans-serif;
//$font-heading: 'Patua One', 'Roboto', Arial, sans-serif;

/*fonts-weight*/
$normal: 400;
$medium: 500;
$bold: 600;
$black-weight: 800;

/*fonts-size*/
$size-main: 18px;
$size-big: 24px;
$size-hero-heading: 118px;
$size-heading1: 70px;
//$size-heading2: 40px;
//$size-heading3: 28px;

/*line-height*/
$line-height: 1.6;
$line-height-heading: 1;

$letter-spacing-250: 0.25em;
$letter-spacing-20: 0.02em;

/*colors*/
$white: #ffffff;
$black: #000000;
$color-text: #3e3e3e;
$color-text2: #ffc72c;
$color-text3: #212020;
//$color-text2: #313b43;
//$color-text3: #ff614c;
$color-bg1: $white;
$color-bg2: #ffc72c;
$color-bg3: #212020;
//$color-bg3: #1d4d94;
//$color-bg4: #d5d5d5;

/*transition*/
$transition-link: 0.2s;
$transition-other: 0.35s;

/*border-radius*/
$radius-main: 5px;
//$radius-small: 5px;
